#scroll::-webkit-scrollbar {
    display: none;
  }
html {
    scroll-behavior: smooth;
  }
  
.title-word {
  animation: color-animation 4s linear infinite;
}

.title-word-1 {
  --color-1: #008e68;
  --color-2: #3D8DAE;
  --color-3: #004b66;
}

.title-word-2 {
  --color-1: #004b66;
  --color-2: #ACCFCB;
  --color-3: #17494D;
}

.title-word-3 {
  --color-1: #ACCFCB;
  --color-2: #008e68;
  --color-3: #ACCFCB;
}

.title-word-4 {
  --color-1: #3D8DAE;
  --color-2: #008e68;
  --color-3: #004b66;
}

@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 3.9vw;
  text-transform: uppercase;
}