#scroll::-webkit-scrollbar {
    display: none;
  }
html {
    scroll-behavior: smooth;
  }

.title-word {
  animation: color-animation 4s linear infinite;
}

.title-word-1 {
  --color-1: #FFDF2B;
  --color-2: #dfd400;
  --color-3: #5a5a5a;
}

.title-word-2 {
  --color-1: #FFDF2B;
  --color-2: #5a5a5a;
  --color-3: #FFDF2B;
}

.title-word-3 {
  --color-1: #5a5a5a;
  --color-2: #FFDF2B;
  --color-3: #8ea32f;
}

.title-word-4 {
  --color-1: #5a5a5a;
  --color-2: #e2ff3c;
  --color-3: #FFDF2B;
}

@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 3.9vw;
  text-transform: uppercase;
}
